<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="spread"></div>
    <input type="button" value="fetch_get" onclick="fetch_get()">
    <input type="button" value="fetch_post" onclick="fetch_post()">
    <input type="button" value="test" onclick="test()">
    <hr>
    <div id="form">
        <input type="text" name="ID" id="id">
        <input type="password" name="PW" id="pw">
        <input type="button" value="fetch_form_post" onclick="fetch_form_post()">
        <input type="button" value="Simple_Login" onclick="Simple_Login()">
        <input type="button" value="token_auth" onclick="Check_Token()">
        <input type="button" value="log_out" onclick="Logout()">
        <input type="button" value="seo" onclick="seoJS()">
    </div>
    <hr>
    
    
    <script src="../js/testAPI.js"></script>
</body>
</html>