<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="spread"></div>
    <input type="button" value="fetch_get" onclick="fetch_get()">
    <input type="button" value="fetch_post" onclick="fetch_post()">
    <input type="button" value="test" onclick="test()">
    <script src="../js/testAPI.js"></script>
</body>
</html>